/* @author Angela Gross */

/* ================================================================================================================================= */

/* Imported CSS */
@import url("./bootstrap.min.css");
@import url("./font-awesome.min.css");

/* Poiret One font family */
@font-face 
{
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PoiretOne-Regular.ttf');
}

/* ================================================================================================================================= */

/* General Content */
/* ------------------------------- */

body { font-family: 'Source Sans Pro', sans-serif; background-color: #BBB; background-color:transparent; }

.buffer { margin-top: 51px; }

ul, ol { list-style-type: square; }

.margin-bottom { margin-bottom: 10px; }

.no-padding { padding:0px; }

/* Make sure the FontAwesome font family isn't being overwritten */
.fa { font-family: 'FontAwesome' !important; }

/* ================================================================================================================================= */

/* Icons */
/* ------------------------------- */

/* Reduced Home Icon */
.icon-home
{
    background: url('../img/broken-heart-icon.png') 0 0 no-repeat;
    background-size:40px 40px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    vertical-align: middle;
    margin-top: -4px;
}

/* ================================================================================================================================= */

/* Color Panels */
/* ------------------------------- */

.container-fluid > section > .panel { width: 95%; }
.container-fluid { width: 100%; padding: 0; }

.panel-body { padding: 20px; }
.big-panel { min-height:300px!important; }
.panel { margin-bottom: 0; }
.promo-panel .panel-title { font-size: 3em; }
.promo-panel p { font-size: 1.5em; }

.color-panel { display:flex;justify-content:center;align-items:center; padding: 50px 100px; }
.color-panel.dark-green-panel { background-color: #369A41; }
.color-panel.med-green-panel { background-color: #81b33a; }
.color-panel.light-green-panel { background-color: #57EC67; }
.color-panel.white-panel { background-color: #FFFFFF; }

/* ================================================================================================================================= */

/* Images */

.wrapper
{
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: currentcolor;
}

.img-container { padding:0 15px; }

img.grayscale
{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
}

/* ================================================================================================================================= */

/* GENERAL UI */

.ui-panel
{
    background-color: rgba(255, 255, 255, 0.5);
    border: 0!important;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    overflow-y: hidden;
}

.darker-ui
{
    background-color: rgba(0, 0, 0, 0.45);
}

.ui-panel>.panel-heading
{
    background-color: rgba(255, 255, 255, 0.55);
    text-align:center;
    text-transform: uppercase;
}

.h3, h3 { font-family:"Poiret One", Arial, sans-serif; font-size: 2.8em; font-weight: bold; color: #FFF; }

/* ================================================================================================================================= */

/* SCORE UI */

.score 
{ 
    font-size: 2.5em;
    font-weight:bold;
    font-family:"Poiret One", Arial, sans-serif;
    text-align:center;
    border: 0!important;
}

.tier { color: #DDD; text-transform: uppercase; }
#tier { color: #FFF; }
.time { color: #DDD; text-transform: uppercase;  }
#time-text { font-size: 35%; }
#time { color: #FFF; }
.cash { color: #369A41; }
#cash { color: #FFF; }

/* ================================================================================================================================= */

/* INVENTORY UI */

.inventory
{
    font-size: 2.5em;
    font-weight:bold;
    font-family:"Poiret One", Arial, sans-serif;
    text-align:left;
    border: 0!important;
    color: #FFF;
    width: 100%;
    overflow-y: hidden;
}
.inventory input { font-size: 1em!important;}

ul.inventory-list
{
    list-style:none; /* Disable the normal item numbering */
    padding: 0;
}

ul.inventory-list > li 
{
    position:relative; /* Create a positioning context */
    margin-left: 0px;
    padding: 30px 5px;
    list-style:none; /* Disable the normal item numbering */
    border-top:1px solid #D9D7D7;
    font-size: 1em;
    color: #DDD;
}

ul.inventory-list > li:hover
{
    background-color: rgba(255, 255, 255, 0.2);
}

#volume { color: #afe0f4; }
#type { color: #CCC; margin-left: 80px; text-transform: uppercase; }
#name { color: #FFF; margin-left: 80px; text-align: left; }
#total-volume { float: left; width: 100%; border-top: 3px double #D9D7D7; }

/* ================================================================================================================================= */

/* CURRENT ORDER UI */

.current-order
{
    font-size: 2em;
    font-weight:bold;
    font-family:"Poiret One", Arial, sans-serif;
    text-align:left;
    border: 0!important;
    color: #CCC;
}

td.heading { text-transform: uppercase; }
td.value { padding-left: 30px!important; }

#order-id { color: #FFF; text-transform: none; }
#customer-name { color: #FFF; text-transform: none  }
#customer-address { color: #FFF; text-transform: none;  }
#shipping-cost { color: #BBB; text-transform: none;  }
#total-cost { color: #CCC; text-transform: none;  }

ul.products-list { list-style:none; padding-left: 0; font-size: 80%; }
 
 .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th 
{
   background-color: rgba(0, 0, 0, 0.6);
 }
 
 .table-responsive {width:100%;}

/* ================================================================================================================================= */

/* INTERACTION UI */

.interaction
{
    font-size: 2.3em;
    font-family:"Poiret One", Arial, sans-serif;
    text-align:center;
    border: 0!important;
    color: #999;
}

#interact-key { color: #afe0f4; text-transform: uppercase; padding: 0 10px; }
#interact-action { color: #EEE; }


/* ================================================================================================================================= */